# .NET
ZofaB2B.API/bin/
ZofaB2B.API/obj/
ZofaB2B.API/appsettings.Production.json
ZofaB2B.API/appsettings.Local.json

# React
zofa-frontend/node_modules/
zofa-frontend/dist/

# IDE
.vs/
.vscode/
*.user
*.suo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
